tox
pep8
oslo.utils
shade>=1.7.0
ansible>=2.3.0.0,<3,<=2.3.9
python-novaclient
python-glanceclient
python-cinderclient
python-neutronclient
python-keystoneclient
python-openstackclient
-e git://github.com/blueboxgroup/ursula-cli.git@master#egg=ursula-cli
